<ion-view view-title="About the Developer" has-header>
  <ion-nav-bar class="bar-energized">
    <ion-nav-back-button class="button-clear">
      <i class="icon ion-android-arrow-back"></i> Back
    </ion-nav-back-button>
  </ion-nav-bar>
  <ion-content class="light-bg">
    <ion-list>
      <ion-item class="item profile-image text-center calm-bg">
        <img style="width: 180px; height: 180px;" ng-src="img/harrie.png">
        <h2 class="light">&lt;/harriebird&gt;</h2>
        <h2 class="light"><i class="icon ion-android-person"></i> Paul Harriet S. Asiñero</h2>
        <h2 class="light"><i class="icon ion-university"></i> BS Information Technology</h2>
        <h2 class="light"><i class="icon ion-android-pin"></i> Casisang, Malaybalay City, Bukidnon</h2>
      </ion-item>
      <ion-item class="item">
        <button class="button button-block button-small button-calm" onclick="window.open('mailto:harriebird@yahoo.com','_system');">
          <i class="icon ion-android-mail"></i> Email: harriebird@yahoo.com
        </button>
        <!-- <h2 class="dark"><i class="icon ion-android-mail"></i> Email: harriebird@yahoo.com</h2> -->
        <button class="button button-block button-small button-calm" onclick="window.open('https://www.linkedin.com/in/harriebird','_system');">
          <i class="icon ion-social-linkedin"></i> LinkedIn: Paul Harriet Asiñero
        </button>
        <!-- <h2 class="dark"><i class="icon ion-social-linkedin"></i> LinkedIn: Paul Harriet Asiñero</h2> -->
        <button class="button button-block button-small button-calm" onclick="window.open('https://www.facebook.com/harrie.bird','_system');">
          <i class="icon ion-social-facebook"></i> Facebook: Harrie Bird
        </button>
        <!-- <h2 class="dark"><i class="icon ion-social-facebook"></i> Facebook: Harrie Bird</h2> -->
      </ion-item>
      <ion-item class="item item-body text-center padding-none-top">
        <p>This App is an output of his Capstone Project entitled:</p>
        <h2 class="dark">CENTRAL MINDANAO UNIVERSITY STUDENT PORTAL MOBILE APPLICATION USING HYBRID APPROACH</h2>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
