<ion-view view-title="How to Use mobileCMU" has-header>
  <ion-nav-bar class="bar-energized">
    <ion-nav-back-button class="button-clear">
      <i class="icon ion-android-arrow-back"></i> Back
    </ion-nav-back-button>
  </ion-nav-bar>
  <ion-content class="light-bg">
    <ion-list>
      <ion-item class="item item-avatar item-body padding">
        <div class="row">
          <div class="col-20">
            <ionic-letter-avatar data="1" charcount="1" shape="round"></ionic-letter-avatar>
          </div>
          <div class="col-80">
            In order to use this App, you must first login using your FES (Faculty Evaluation System) account.
            <img class="full-image" src="img/steps/fes.png">
          </div>
        </div>
      </ion-item>
      <ion-item class="item item-avatar item-body padding">
        <div class="row">
          <div class="col-20">
            <ionic-letter-avatar data="2" charcount="1" shape="round"></ionic-letter-avatar>
          </div>
          <div class="col-80">
            The button on the top left of the screen will toggle the main menu which helps you in navigating the app. You can also access the main menu by doing a swipe gesture on the screen from left to right.
            <img class="full-image" src="img/steps/menu.png">
          </div>
        </div>
      </ion-item>
      <ion-item class="item item-avatar item-body padding">
        <div class="row">
          <div class="col-20">
            <ionic-letter-avatar data="3" charcount="1" shape="round"></ionic-letter-avatar>
          </div>
          <div class="col-80">
            The button on the top right of the screen will toggle the popover menu which contains the buttons linking to Settings, About and Logout.
            <img class="full-image" src="img/steps/pop.png">
          </div>
        </div>
      </ion-item>
      <ion-item class="item item-avatar item-body padding">
        <div class="row">
          <div class="col-20">
            <ionic-letter-avatar data="4" charcount="1" shape="round"></ionic-letter-avatar>
          </div>
          <div class="col-80">
            The Student Information displays the basic profile of a student.
            <img class="full-image" src="img/steps/stud.png">
          </div>
        </div>
      </ion-item>
      <ion-item class="item item-avatar item-body padding">
        <div class="row">
          <div class="col-20">
            <ionic-letter-avatar data="5" charcount="1" shape="round"></ionic-letter-avatar>
          </div>
          <div class="col-80">
            The Grade Report Card displays grades gained in every semester. It uses color coding depending on the grade gained on each subject.
            <img class="full-image" src="img/steps/grades.png">
            <p>Grade Color Coding:</p>
            <div class="row text-center rounded">
              <div class="col excel">1 - 2</div>
              <div class="col passed">>2 - 3</div>
              <div class="col failed">5</div>
              <div class="col inc">INC</div>
            </div>
          </div>
        </div>
      </ion-item>
      <ion-item class="item item-avatar item-body padding">
        <div class="row">
          <div class="col-20">
            <ionic-letter-avatar data="6" charcount="1" shape="round"></ionic-letter-avatar>
          </div>
          <div class="col-80">
            The Registration Details displays same information found on a Certificate of Registration like subject load and assessment fees.
            <img class="full-image" src="img/steps/regdet.png">
          </div>
        </div>
      </ion-item>
      <ion-item class="item item-avatar item-body padding">
        <div class="row">
          <div class="col-20">
            <ionic-letter-avatar data="7" charcount="1" shape="round"></ionic-letter-avatar>
          </div>
          <div class="col-80">
            The Subsidiary Ledger displays ledger transactions of a student.
            <img class="full-image" src="img/steps/ledger.png">
            <p>Ledger Color Coding:</p>
            <div class="row text-center rounded">
              <div class="col failed">Debit</div>
              <div class="col excel">Credit</div>
            </div>
          </div>
        </div>
      </ion-item>
      <ion-item class="item item-avatar item-body padding">
        <div class="row">
          <div class="col-20">
            <ionic-letter-avatar data="8" charcount="1" shape="round"></ionic-letter-avatar>
          </div>
          <div class="col-80">
            This INC Monitor displays all the subjects that gained a grade of INC. It has a countdown timer for the student to comply the subject and uses same color coding with the Grade Report Card.
            <img class="full-image" src="img/steps/incmon.png">
          </div>
        </div>
      </ion-item>
      <ion-item class="item item-avatar item-body padding">
        <div class="row">
          <div class="col-20">
            <ionic-letter-avatar data="9" charcount="1" shape="round"></ionic-letter-avatar>
          </div>
          <div class="col-80">
            This app uses pull-to-refresh in order to reload most of its contents. To use this feature, swipe the screen from top to bottom.
            <img class="full-image" src="img/steps/pullref.png">
          </div>
        </div>
      </ion-item>
      <ion-item class="item item-avatar item-body padding">
        <div class="row">
          <div class="col-20">
            <ionic-letter-avatar data="10" charcount="2" shape="round"></ionic-letter-avatar>
          </div>
          <div class="col-80">
            Inside settings, you can find the API URL of the app. Do not try to override this unless instructed. Overriding the API URL incorrectly may cause the app not to connect with the server.
            <img class="full-image" src="img/steps/setting.png">
          </div>
        </div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
